body {
    font-family: "맑은 고딕", "고딕", "굴림";
}

header {
    background-color: rgb(81, 209, 167);
    width: 80%; /*영역 지정*/
    margin-left: auto; /*영역 위치 정렬 - 영역 바깥의 영역을 기준으로 정렬*/
    margin-right: auto;
    padding: 10px;  /*padding은 영역안의 텍스트 정렬 할 때 사용*/
    /* padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 20px; */
    /* padding: 10px 30px 50px 100px; top right bottom left 순서대로 적용 시계방향 */
    overflow: hidden;

}

h1 {
    font-size: 2em;
    /* background-color: mintcream; */
}

header h1 { /*header 의 자손인 h1 태그에 적용, 띄워쓰기는 조상과 자손의 관계에서 사용, 부모와 자식의 관계에서는 > 사용*/
    color: black;
    width: 40% ;
    float: left;

}

header > nav { /*header 의 자식인 nav에 적용*/
    /* background-color: aqua; */
    width: 60% ; /*길이는 전체의 60%가 아닌 nav의 부모인 header의 영역의 60% 적용*/
    float: right;

}

nav ul {
    list-style-type: none;

}

nav ul li {
    /* background-color: skyblue; */
    display: inline;
    float: right;
    margin: 15px;
}

a {
    text-decoration: none;
    color: black;
}


